<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <!-- <script language="javascript" type="text/javascript" src="../IA.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css" /> -->
</head>
<body ng-app="IA">
  <div id="header"></div>
  <div id="main">
    <div ng-controller='incomeController'>
      <div>
        Income: <input type="number" min="0" ng-model="income" ng-init="updateIncome()" ng-change="updateIncome()">
      </div>
       <div>
        Number of Exemptions: <input type="number" min="0" ng-model="numExemptions" ng-init="updateIncome()" ng-change="updateIncome()">
      </div>
       <div>
        Taxable Income: <input type="number" min="0" ng-model="taxableIncome" ng-init="updateIncome()" ng-change="updateIncome()">
      </div> 
      <div>
        Retirement Rate%: <input type="number" min="0" ng-model="expenses.retirementRate" ng-change="updateIncome()">
      </div>
      <div>
        Savings Rate%: <input type="number" min="0" ng-model="expenses.savingsRate" ng-change="updateIncome()">
      </div>
      <div>
        Medical: <input type="number" min="0" ng-model="expenses.medical" ng-change="updateIncome()">
      </div>
      <div>
        Housing: <input type="number" min="0" ng-model="expenses.housing" ng-change="updateIncome()">
      </div>
       <div>
        Car Insurance: <input type="number" min="0" ng-model="expenses.carInsurance" ng-change="updateIncome()">
      </div>
      
      <div><b>Taxes: </b> {{ tax | currency }} </div>
      <div><b>Disposable Income: </b> {{ disposableIncome | currency }} </div>
    </div>

  </div>
  <div id="footer"></div>
  <script language="javascript" type="text/javascript" src="../node_modules/angular/angular.js"></script>
  <script language="javascript" type="text/javascript" src="./app.js"></script>
</body>
</html>