/*Necessary to get cooperation between Angular and Bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#main {
  margin-left: 20px;
  font-family: 'Lato', sans-serif;
}

.incomeFields {
  background-color: #B6B6B6;
  margin: 10px;
  padding: 10px;
}

.incomeInput {
  background-color: #E6E6E6;
  margin: 5px;
  padding: 8px;

}

#box3 {
  border: solid 9px #ccc;
}

#box9 {
  border: solid 9px #39d; 
}