/*Necessary to get cooperation between Angular and Bootstrap*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#main {
  margin-left: 20px;
  font-family: 'Lato', sans-serif;
}

.incomeFields, .bottomLine {
  border-radius: 6px; 
  margin: 10px;
  padding: 10px;
}

.incomeInput, .finalAmounts {
  border-radius: 6px; 
  margin: 5px;
  padding: 8px;
}

.incomeFields {
  background-color: #B6B6B6;
}

.incomeInput {
  background-color: #E6E6E6;
}

.bottomLine {
  font-weight: 2rem;
  background-color: #00B386;
}

.finalAmounts {
  background-color: #009973;
}

#box3 {
  border: solid 9px #ccc;
}

#box9 {
  border: solid 9px #39d; 
}